.bg-myBgColor{
background-color: white;
}
.navbar{   
        color : rgb(220,10,45);
    .nav-link{
        color : rgb(220,10,45);
    }
    .dropdown-item{
            color : rgb(220,10,45);
    }     
}